*{
box-sizing:border-box;
}



body{

margin:0;

font-family:
-apple-system,
BlinkMacSystemFont,
"SF Pro Display",
Arial,
sans-serif;

background:#f2f2f7;

color:#111;

}





.app{

max-width:520px;

margin:auto;

padding:20px;

}





header{

text-align:center;

background:#34c759;

color:white;

padding:25px;

border-radius:24px;

margin-bottom:20px;

box-shadow:
0 5px 20px rgba(0,0,0,.1);

}



header h1{

font-size:30px;

margin:5px;

}



header p{

font-size:16px;

margin:8px;

}





.dashboard{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;

margin-bottom:20px;

}





.box{


background:white;

padding:18px;

border-radius:22px;

box-shadow:
0 5px 18px rgba(0,0,0,.08);


}





.box h3{


font-size:13px;

color:#777;

margin:0;


}





.box h2{


font-size:22px;

margin-top:12px;


}








.card{


background:white;

padding:20px;

border-radius:24px;

margin-bottom:18px;


box-shadow:

0 5px 20px rgba(0,0,0,.08);


}





.card h2{

margin-top:0;

font-size:21px;

}








input,
select{


width:100%;

padding:15px;

margin-top:10px;

border-radius:15px;


border:

1px solid #ddd;


font-size:16px;


background:#fafafa;


}








button{


width:100%;


padding:15px;


margin-top:15px;


border:none;


border-radius:16px;


background:#007aff;


color:white;


font-size:17px;


font-weight:600;


cursor:pointer;


}






button:active{

transform:scale(.98);

}





.danger{

background:#ff3b30;

}





.item{


padding:15px 0;


border-bottom:

1px solid #eee;


font-size:15px;


line-height:1.6;


}






@media(prefers-color-scheme:dark){



body{

background:#000;

color:white;

}





.card,
.box{

background:#1c1c1e;

}





input,
select{

background:#2c2c2e;

color:white;

border-color:#444;

}





.item{

border-color:#333;

}



}